stage3_url:  https://s3.amazonaws.com/shopify-ops/collins/stage3-latest.tar.xz            # location of the stage3 archive to use
linux_url:   git://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git             # location of the stage3 archive to use
work_dir:    /tmp             # where we'll put our chroot_dir
kernel_src:  /usr/src/linux   # where we'll put our chroot_dir
#embed_ramfs: false            # Should we embed the initramfs into the kernel?
image_name:  alchemy.img      # Name of the kernel image
ramfs_name:  alchemy.ramfs    # Name of ramfs if made
username:    alchemy          # Name of the admin user
password:    transmute        # Password for admin user
kernel_conf: "3.14"           # Which kernel config to use
kernel_ver:  "v3.14.4"        # Kernel version to use (latest if not specified)
packages:                     # Package classes to install, correspondin to packages.x, example core -> packages.core will be built
  - core
  - util
  - network
  - benchmark
  - storage
  - eula
overlays:
  - https://github.com/Shopify/alchemy-overlay.git
ssh_keys:
  - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCd9MR4lTtEreJqyXWjVRxxMzYMUxYTLr0PMDkY52BgiBVHL+JY8Pbx7hcEaSkd9wMlun6Jverq3QYXUk+1FOOBJwC/ATZloCav0sqn9/37QrMvBPcwHgH054abKZJ0ctkpBTUa7AS+IRtco30i7J7Irzr6jbRvZ2BO6Nh1TlhGBQ0y5IOEMBhWMq9sUXBNmsNxDSGaabEX83Dkgk4pkTtr4Sk0oUpWWI94E3zttYAP6e7gRhiOn6LeYiDfTvIRkN9c/scErs1W3Pa6WY0EWLR7TeVtSWVEo5QIYbJbXRJTOCWyoMc8u5f9c82kIPG+4Ufe9wLUd7t2kVUDh6v89Ord dale.hamel@shopify.com
