<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include head.html %}

  <body>

    {% include sidebar.html %}
    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
   <div class="header-nav">
   <ul id="header-nav-list" level=0>
   </ul>
   </div>
    <div class="masthead">
      <div class="container">
        <h3 class="masthead-title">
          <a href="/" title="Home">{{ site.title }}</a>
          <small>{{ site.tagline }}</small>
        </h3>
      </div>
    </div>

    <div class="container content">
      {{ content }}
    </div>

  </body>
  <script>
    $( document ).ready(function() {
      var sections = $('.page').find('section');
      var hnav = $('#header-nav-list');

      $(sections).each( function( index, section ) {
        headers = $(section).find(':header')
        if ( headers.length >= 1 )
        {
          header = headers[0]
          url = document.location.href.split('#')[0]+'#'+$(section).attr('id') 
          $('#header-nav-list').append('<li><a href="'+url+'">'+$(header).text() +'</a></li>')
        }
      });
    });
  </script>
</html>
